server {
  listen 80;
  server_name seedbox "~^seedbox.*\.tedder\.me$";
  #try_files $uri $uri/ /index.html;
  #index index.html;

  location /rutorrent/ {
    alias /opt/rutorrent/;

    auth_basic            "'sup";
    auth_basic_user_file  htpasswd;

    location ~ \.php$ {
      fastcgi_split_path_info ^(.+\.php)(/.+)$;
      fastcgi_pass unix:/var/run/php5-fpm.sock;
      fastcgi_index index.php;
      include fastcgi_params;
    }
  }
}
