directory = /opt/torrent-files/downloads
session = /opt/torrent-files/session
schedule = watch_directory,5,5,load_start=/opt/torrent-files/watch/*.torrent
bind = 0.0.0.0
port_range = 7200-7500
scgi_port = localhost:5000
ratio.enable=
# max ratio of 4.0
ratio.max.set=400
# When seeding ratio is reached close the torrent
system.method.set = group.seeding.ratio.command, d.close=
# Close torrents when diskspace is low.
schedule = low_diskspace,5,60,close_low_diskspace=500M
