directory = /opt/torrent-files/downloads
session = /opt/torrent-files/session
schedule = watch_directory,5,5,load_start=/opt/torrent-files/watch/*.torrent
bind = 0.0.0.0
port_range = 7200-7500
scgi_port = localhost:5000
