# user
# worker_processes

events {
  worker_connections 64; # default 1024
http {

  server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;

    default_type  application/octet-stream;
    gzip on;

    root /usr/share/nginx/html;
    index index.html index.htm;

    location / {
      # First attempt to serve request as file, then
      # as directory, then fall back to displaying a 404.
      try_files $uri $uri/ =404;
    }

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
  }
}
